<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <a href="{{ url_for('routes.landing') }}">About</a>
        <a href="{{ url_for('routes.gen') }}">Generate</a>
        <a href="{{ url_for('routes.get_login') }}">Login</a>
    </nav>
    {% block content %}{% endblock %}
    <footer>
        <a href="https://github.com/sikorosenai">
            <img class="GitHub" src="{{url_for('static', filename='images/github-mark-white.png')}}" alt="GitHub logo"/>
        </a>
    </footer>
</body>
</html>