{% extends "base.html" %}
{% block head %}
<script defer src="{{ url_for('static', filename='gen.js') }}"></script>
<title>Generate</title>
{% endblock head %}
{% block content %}
    <h1 data-value="Generate fractals"> Generate fractals </h1>
    <form method="post">
        <div class="form-element">
            <input type="number" name="realnum" id="realnum" placeholder="Real Number">
        </div>
        <div class="form-element">
            <input type="number" name="imagnum" id="imagnum" placeholder="Imaginary Number">
        </div>
        <div class="form-element">
            <input type="text" name="hexval" id="hexval" placeholder="Hex value (RRGGBB)">
        </div>
        <div>
            <select name="sets" id="sets">
                {% for set in sets %}
                <option value="{{ set }}" id="{{ set }}">{{ set.title() }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="input-button"> Generate </button>
    </form>

    <section>
        <div class="gen_fracs">
            {% for render in renders %}
            <div class="gen_frac">
                <img src="/mandelbrot/{{ render.hex_value }}" alt="Coloured picture of mandelbrot">
            </div>
            {% endfor %}
            <!-- MULTIPLE FRACTALS ARE CURRENTLY BROKEN -->
            <!--
            <div class="gen_frac">
                <img src="/mandelbrot/FFFFFF" alt="my plot">
            </div>
            
            <div class="gen_frac">
                <img src="/mandelbrot/F1AF2F" alt="my plot">
            </div>
            -->
        </div> 
    </section>

    <br>
{% endblock content %}