{% extends "base.html" %}
{% block head %}
<script defer src="{{ url_for('static', filename='landing.js') }}"></script>
<title>Landing</title>
{% endblock head %}
{% block content %}
    <h1 class="hidden"> Julia </h1>
    <section>
        <p>PLEASE DO NOT SUBMIT ANY PERSONAL DATA TO THIS WEBSITE, IT IS PURELY A TECHNICAL EXPERIMENT!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius maiores molestiae eos dolorum reprehenderit vitae repellendus aperiam tenetur necessitatibus vero, architecto pariatur. Necessitatibus porro consectetur quae laborum velit quaerat nemo!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores at error ipsum nemo quas deserunt placeat hic itaque est voluptate, in natus vero tenetur consequatur? Ullam voluptates consectetur nemo molestiae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, tempore alias! Fugit quia libero omnis sed ut ipsum blanditiis modi, quisquam enim assumenda sit cupiditate nihil ducimus, mollitia, quos voluptas.</p>
    </section>

    <section>   
        <div class="fracs">
            <div class="frac hidden">
                <img src="{{url_for('static', filename='images/github-mark-white.png')}}"/>
            </div>
            <div class="frac hidden">
                <img src="{{url_for('static', filename='images/github-mark-white.png')}}"/>
            </div>
            <div class="frac hidden">
                <img src="{{url_for('static', filename='images/github-mark-white.png')}}"/>
            </div>
        </div>
    </section>

    <section>
        <p>PLEASE DO NOT SUBMIT ANY PERSONAL DATA TO THIS WEBSITE, IT IS PURELY A TECHNICAL EXPERIMENT!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius maiores molestiae eos dolorum reprehenderit vitae repellendus aperiam tenetur necessitatibus vero, architecto pariatur. Necessitatibus porro consectetur quae laborum velit quaerat nemo!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores at error ipsum nemo quas deserunt placeat hic itaque est voluptate, in natus vero tenetur consequatur? Ullam voluptates consectetur nemo molestiae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, tempore alias! Fugit quia libero omnis sed ut ipsum blanditiis modi, quisquam enim assumenda sit cupiditate nihil ducimus, mollitia, quos voluptas.</p>
    </section>
{% endblock content %}