{% extends "base.html" %}
{% block head %}
<title>Landing</title>
{% endblock head %}
{% block content %}
    <h1> Landing </h1>
    <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ullam beatae hic cum et, quidem vero. Vero rem quidem nam natus expedita esse sunt, cupiditate ex maiores magni blanditiis cum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius maiores molestiae eos dolorum reprehenderit vitae repellendus aperiam tenetur necessitatibus vero, architecto pariatur. Necessitatibus porro consectetur quae laborum velit quaerat nemo!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores at error ipsum nemo quas deserunt placeat hic itaque est voluptate, in natus vero tenetur consequatur? Ullam voluptates consectetur nemo molestiae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, tempore alias! Fugit quia libero omnis sed ut ipsum blanditiis modi, quisquam enim assumenda sit cupiditate nihil ducimus, mollitia, quos voluptas.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut unde sint tempora. Possimus blanditiis veritatis illo suscipit culpa! Sint ipsam rerum dignissimos sunt deserunt tenetur laboriosam quae fugiat consequuntur. Cum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos dolor rerum aliquid dolorum corporis ad impedit quae adipisci! Similique est mollitia perferendis saepe neque. Aperiam a ullam deleniti eius eaque!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ullam beatae hic cum et, quidem vero. Vero rem quidem nam natus expedita esse sunt, cupiditate ex maiores magni blanditiis cum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius maiores molestiae eos dolorum reprehenderit vitae repellendus aperiam tenetur necessitatibus vero, architecto pariatur. Necessitatibus porro consectetur quae laborum velit quaerat nemo!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores at error ipsum nemo quas deserunt placeat hic itaque est voluptate, in natus vero tenetur consequatur? Ullam voluptates consectetur nemo molestiae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, tempore alias! Fugit quia libero omnis sed ut ipsum blanditiis modi, quisquam enim assumenda sit cupiditate nihil ducimus, mollitia, quos voluptas.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut unde sint tempora. Possimus blanditiis veritatis illo suscipit culpa! Sint ipsam rerum dignissimos sunt deserunt tenetur laboriosam quae fugiat consequuntur. Cum.</p>
    </section>
{% endblock content %}