{% extends "base.html" %}
{% block head %}
<title>Login</title>
{% endblock head %}
{% block content %}
    <h1> Login pog </h1>
    <form method="post">
        <div class="form-element">
            <input type="email" name="email" id="email" placeholder="Email" required>
        </div>
        <div class="form-element">
            <input type="password" name="password" id="password" placeholder="Password" required>
        </div>
        <button type="submit" class="input-button"> Login </button>
    </form>
    <section>
        <p>Don't have an account?</p>
        <a href="{{ url_for('routes.get_signup') }}">Signup Here</a>
    </section>
    <section>
        <p> P.S. you may have been redirected here if you tried to access something that requires a logged in user :0</p>
    </section>
{% endblock content %}