{% extends "base.html" %}
{% block head %}
<title>Login</title>
{% endblock head %}
{% block content %}
    <h1> Signup pog </h1>
    <form method="post">
        <div class="form-element">
            <input type="text" name="username" id="username" placeholder="Username" required>
        </div>
        <div class="form-element">
            <input type="email" name="email" id="email" placeholder="Email" required>
        </div>
        <div class="form-element">
            <input type="password" name="password1" id="password1" placeholder="Password" required>
        </div>
        <div class="form-element">
            <input type="password" name="password2" id="password2" placeholder="Confirm Password" required>
        </div>
        <button type="submit" class="input-button"> Signup </button>
    </form>
    <section>
        <p>Have an account?</p>
        <a href="{{ url_for('routes.get_login') }}">Login Here</a>
    </section>
{% endblock content %}