/*
|| Colour scheme HEX
#28282f - Dark purple - Background 
#31313f - Light purple - Accent
#f9a800 - Gold - Highlight
#fffffc - White - text
#424255 - Mauve - On hover
https://codepen.io/sosuke/pen/Pjoqqp
*/

/* { border: 1px solid green; } */

/* || General styles */

body {
  margin-top: 60px;
  background-color: #28282f;
  font-family: 'JetBrains Mono', monospace;
  color: #fffffc; 
  }

h1{
  text-align: center;
}

p {
  padding-left: 70px;
  padding-right: 70px;
}

section{
  display: grid;
  place-items: center;
  align-content: center;
  text-align: start;
  min-height: 10vh;
}

/* || Navbar styles */

nav {
  background-color: #31313f;
  display: block;
  overflow: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 2;
}

/* Navbar link */
nav a {
  border-bottom: 1px solid #f9a800;
  float: right;
  color: #fffffc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
 
/* Change the color of links on hover */
nav a:hover {
background-color: #424255;
}

/* || Form styles */
.form-element{
  text-align: center;
  margin-bottom: 10px;
}

input{
  font-family: 'JetBrains Mono', monospace;
  width: 50%;
  padding: 10px 10px;
  margin: px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #f9a800;
  background-color : #31313f;
  color: #fffffc;
  outline-color: #1c1c1c;
  outline-width: 1px;
  outline-style: solid;
}

input:focus {
  outline-color: #f9a800;
  border: 1px solid #1c1c1c;
}

/* Styles for input button */

.input-button {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'JetBrains Mono', monospace;
  text-align: center;
  background: #f9a800;
  color: #fffffc;
  width: 20%;
  padding: 5px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  border:none;
  transition-duration: 0.4s;
  margin-top: 20px;
}

.input-button:hover {
  background: #fff;
  box-shadow: 0px 2px 30px 2px #97B1BF;
  color: #000;
}

/* Styles for select form */

select {
  display: block;
  margin: 0 auto;
  font-family: 'JetBrains Mono', monospace;
  width: 20%;
  padding: 10px 10px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #f9a800;
  background-color : #31313f;
  color: #fffffc;
  outline-color: #1c1c1c;
  outline-width: 1px;
  outline-style: solid;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0px;
  appearance: none;
  /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyAgIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIiAgIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIgICB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgICB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiICAgeG1sbnM6aW5rc2NhcGU9Imh0dHA6Ly93d3cuaW5rc2NhcGUub3JnL25hbWVzcGFjZXMvaW5rc2NhcGUiICAgaWQ9IkxheWVyXzEiICAgZGF0YS1uYW1lPSJMYXllciAxIiAgIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIiAgIHZlcnNpb249IjEuMSIgICBpbmtzY2FwZTp2ZXJzaW9uPSIwLjkxIHIxMzcyNSIgICBzb2RpcG9kaTpkb2NuYW1lPSJkb3dubG9hZC5zdmciPiAgPG1ldGFkYXRhICAgICBpZD0ibWV0YWRhdGE0MjAyIj4gICAgPHJkZjpSREY+ICAgICAgPGNjOldvcmsgICAgICAgICByZGY6YWJvdXQ9IiI+ICAgICAgICA8ZGM6Zm9ybWF0PmltYWdlL3N2Zyt4bWw8L2RjOmZvcm1hdD4gICAgICAgIDxkYzp0eXBlICAgICAgICAgICByZGY6cmVzb3VyY2U9Imh0dHA6Ly9wdXJsLm9yZy9kYy9kY21pdHlwZS9TdGlsbEltYWdlIiAvPiAgICAgIDwvY2M6V29yaz4gICAgPC9yZGY6UkRGPiAgPC9tZXRhZGF0YT4gIDxzb2RpcG9kaTpuYW1lZHZpZXcgICAgIHBhZ2Vjb2xvcj0iI2ZmZmZmZiIgICAgIGJvcmRlcmNvbG9yPSIjNjY2NjY2IiAgICAgYm9yZGVyb3BhY2l0eT0iMSIgICAgIG9iamVjdHRvbGVyYW5jZT0iMTAiICAgICBncmlkdG9sZXJhbmNlPSIxMCIgICAgIGd1aWRldG9sZXJhbmNlPSIxMCIgICAgIGlua3NjYXBlOnBhZ2VvcGFjaXR5PSIwIiAgICAgaW5rc2NhcGU6cGFnZXNoYWRvdz0iMiIgICAgIGlua3NjYXBlOndpbmRvdy13aWR0aD0iMTkyMCIgICAgIGlua3NjYXBlOndpbmRvdy1oZWlnaHQ9IjEwMjciICAgICBpZD0ibmFtZWR2aWV3NDIwMCIgICAgIHNob3dncmlkPSJmYWxzZSIgICAgIGlua3NjYXBlOnpvb209Ijg0LjMiICAgICBpbmtzY2FwZTpjeD0iMi40NzQ5OTk5IiAgICAgaW5rc2NhcGU6Y3k9IjUiICAgICBpbmtzY2FwZTp3aW5kb3cteD0iMTkyMCIgICAgIGlua3NjYXBlOndpbmRvdy15PSIyNyIgICAgIGlua3NjYXBlOndpbmRvdy1tYXhpbWl6ZWQ9IjEiICAgICBpbmtzY2FwZTpjdXJyZW50LWxheWVyPSJMYXllcl8xIiAvPiAgPGRlZnMgICAgIGlkPSJkZWZzNDE5MCI+ICAgIDxzdHlsZSAgICAgICBpZD0ic3R5bGU0MTkyIj4uY2xzLTJ7ZmlsbDojNDQ0O308L3N0eWxlPiAgPC9kZWZzPiAgPHRpdGxlICAgICBpZD0idGl0bGU0MTk0Ij5hcnJvd3M8L3RpdGxlPiAgPHBvbHlnb24gICAgIGNsYXNzPSJjbHMtMiIgICAgIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIiAgICAgaWQ9InBvbHlnb240MTk4IiAgICAgc3R5bGU9ImZpbGw6I2ZmZmZmZjtmaWxsLW9wYWNpdHk6MSIgLz48L3N2Zz4=) no-repeat 101% 50%;
*/}

select:focus {
  outline-color: #f9a800;
  border: 1px solid #1c1c1c;
}

/* || Footer styles */

footer {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #31313f;
  object-fit: contain;
  overflow: hidden;
  z-index: 2;
}


.GitHub{
  padding-top: 11px;
  padding-bottom: 10px;
  height: 40px;
  width: 40px;
}

.GitHub:hover {
  transform: scale(1.2);
}